<% if logged_in? %>
<script type="text/javascript">
    window.currentUser = <%= render(
      '../users/_user.json.jbuilder',
      user: user
    ).html_safe %>
</script>
<% end %>

<div id="root">   <h1> I'm rendering from root.html.erb</h1> </div>
