
.complete_navBar{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-bottom: gainsboro solid 1px;
  padding-top: 30px;
  padding-bottom: 10px;
  height: 40px;
  background: white;
}

.complete_navBar section {
  display:flex;
  // justify-content: space-between;
  margin: 0px 20px 0px 20px;
  padding-bottom: 10px;
}

// .complete_navBar input {
//   height: 23px;
//   width: 200px;
//   margin-bottom: 20px;
//   text-align: center;
//   border-radius: 5px;
//   border: 1px solid gainsboro;
//   margin-left: 100px;
//   margin-right: 100px;
//   font-size: 14px;
//   background: #fafafa;
//   font-family: helvetica;
// }

.complete-searchbar{
  align-items: center;
  margin-bottom: 0px;
}

#searchbar {
  height: 18px;
  width: 207px;
  margin-bottom: 0px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid gainsboro;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 14px;
  background: #fafafa;
  font-family: helvetica;
}

#search-dropdown{
  text-align: center;
  border: 1px solid gainsboro;
  background: white;
  width: 199px;
  position: absolute;
  left: 48.5%;
}

.hidden{
  display: none;
}

#search-dropdown li {
  position: relative;
  width: 207px;
  height: 27px;
}

.searchresult{
  font-size: 14px;
  height: 27px;
}
//
// .search input {
//   text-indent: 30px;
// }
//
// .search i {
//   position: absolute;
//   top: 24px;
//   right: 80px;
//   font-size: 10px;
// }

.navBar-right {
  position: relative;
  // margin-right: 1000px;
  width: 150px;
  // border: 1px solid red;
  display: flex;
  justify-content: space-around;
  color: gray;
  left: 60px;
  // margin-left: 300px;
}

.navBar-left {
  display: flex;
  // margin-left: 300px;
  // justify-content: flex-start;
  width: 300px;
  // border: 1px solid purple;
}

.navBar-right Link, i {
  font-size: 25px;
  padding: 15px 7px 15px 7px;
  color: gray;
}

#redHeart{
  color:red;
  margin-left: 10px;
}

#clearHeart{
  margin-left: 10px;
}

h2 {
  font-family: 'Lobster';
  font-size: 30px;
  position: relative;
  // margin-left: 0px;
}

input {
  margin: 0px 200px 0px 0px;
}

.instacube-name{
  margin: 10px;
}

.verticalLine{
  border: 0.5px solid black;
  height: 30px;
  margin: 15px 0px 10px 0px;
}

#ig-cube{
  width: 35px;
  height: 35px;
  margin: 15px 20px 30px 0px;
  margin-bottom: 0px;
}
