
.profile-feed{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.profile-tile-container{
  display: flex;
  justify-content: center;
  margin: 50px;
  margin-top: 20px;
}

.profile-posts{
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  width: 1200px;
  margin-left: 250px;
}


.profile-tile-box{
  height: 300px;
  width: 300px;
  display:flex;
  border: 1px solid gainsboro;
  margin: 0px 2px 20px 20px;
  flex-direction: center;
  justify-content: center;
}

.profile-tile {
  max-height: 100%;
  max-width: 100%;
}
