// .entireUpdatePage{
//     background: #fafafa;
//     height: 100%;
//     width: 100%;
// }

.updateSidebar ul{
    display: flex;
    flex-direction:row;
}

#updateVerticalLine{
    height:45px;
    width: 0px;
    border: 1px solid black;
    margin-right: 30px;
}

.updateSidebar li:last-of-type{
    margin-top: 15px;
}

.updateForm{
    // border: 1px solid black;
    // background: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
    width: 495px;
}

.updateForm input{
    font-weight: normal;
}

.updateForm button{
    background: Dodgerblue;
    color: white;
    text-align: center;
}

.updateCenterBox{
    display: flex;
    align-content: center;
    justify-content:center;
    flex-direction: row;
    border: 1px solid gainsboro;
    margin: auto;
    margin-top: 50px;
    height: 695px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    background: white;
}

.updateSidebar{
    border: 1px solid gainsboro;
    padding: 0px 20px 70px 0px;
    font-weight: bold;
    width: 180px;
}

.updateInputFields{
    display: flex;
    align-items: center;
    flex-direction: column;
    // border: 1px solid black;
    padding: 50px;
    // justify-content: space-around;
}

#updateLabels{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

#updateLabels label{
    // margin-top: 15px;
    margin-bottom: 20px;
    padding-top: 10px;
}

.updateInputFields:first-of-type{
    padding-bottom: 30px;
    flex-direction: row;
}

.updateInputFields:first-of-type input{
    margin-left: 35px;
}

.updateInputFields input {
    border: 1px solid gainsboro;
    color: black;
    width: 333px;
    margin: 10px;
}

.updateInputFields:last-of-type label{
    text-align: center;
}

// #firstUpdateInput{
//     margin-top: 65px;
// }

.updateInputFields button{
    margin: auto;
    margin-bottom: 0px;
    margin-top: 0px;
}

#updateBioBox{
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 358px;
    border: 1px solid gainsboro;
    margin-left: 35px;
    font-weight: normal;
}

#updateInputFields2{
    display: flex;
    align-items: center;
    flex-direction: column;
    // border: 1px solid black;
    padding: 50px;
    // justify-content: space-around;
}

#updateInputFields2 input {
    border: 1px solid gainsboro;
    color: black;
    width: 333px;
    margin: 10px;
}