// .entireUpdatePage{
//     background: #fafafa;
//     height: 100%;
//     width: 100%;
// }

.updateForm{
    // border: 1px solid black;
    // background: red;
    display: flex;
    justify-content: space-around;
    // align-items: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
}

.updateForm input{
    font-weight: normal;
}

.updateCenterBox{
    display: flex;
    align-content: center;
    justify-content:center;
    flex-direction: row;
    border: 1px solid gainsboro;
    margin: auto;
    margin-top: 50px;
    height: 695px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    background: white;
}

.updateSidebar{
    border: 1px solid gainsboro;
    padding: 15px 20px 70px 20px;
    font-weight: bold;
}

.updateInputFields{
    display: flex;
    align-items: center;
    flex-direction: column;
    // border: 1px solid black;
    padding: 50px;
    // justify-content: space-around;
}

.updateInputFields:first-of-type{
    padding-bottom: 30px;
}

.updateInputFields:first-of-type input{
    margin-left: 35px;
}

.updateInputFields input{
    border: 1px solid gainsboro;
    color: black;
    width: 350px;
    margin: 10px;
}

.updateInputFields:last-of-type label{
    text-align: center;
}

// #firstUpdateInput{
//     margin-top: 65px;
// }

.updateInputFields button{
    margin: auto;
    margin-bottom: 0px;
    margin-top: 0px;
}
