
#splash{
  flex-direction: row;
  align-items: flex-end;
  /* background: orange; */
  height: 100%;
  width: 100%;
}

#footer {
  display: inline-block;
  width: 100%;
  height: 100%;
  /* justify-content: flex-end; */
  flex-direction: row;
  /* border: red 3px solid; */
  /* justify-content: center; */
  font-size: 12px;
  /* padding-left: 100px;
  padding-top: 25px; */
  font-weight: bold;
  padding-top: 322px;
  padding-left: 338px;
}


#footer-list {
  display: flex;
  list-style:none;
  justify-content: space-between;
  width: 1000px;
  /* background: green; */
  font-family: helvetica;
  float: left;
  margin-left: 107px;
  color: darkslategray;
}

.ig-copymark{
  /* background: violet; */
  width: 170px;
  /* float:right; */
  /* text-align: center; */
  top: 20px;
  padding-left: 63px;
  /* border: green solid 1px; */
  padding-right: 20px;
  color: gray;
  font-weight: normal;
}

#center-splash{
  display: flex;
  align-items: center;
  justify-content: center;
}

#phone-pic{
  position: relative;
  border: 1px red solid;
  height: 600px;
  width: 400px;
  right: 263px;
  top: 130px;
  background-image: url("https://s3-us-west-1.amazonaws.com/instacube-dev/ig_screenshot.png");
}

.login-form{
  position: relative;
  left: 480px;
  top: 43px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  height: 355px;
  width: 350px;
  border: lightgray solid 1px;
  font-size: 25px;
  font-family: 'Lobster', cursive;
  float: right;

    /* background: papayawhip; */
}

.login-form input, button{
  width: 250px;
  height: 30px;
  border-radius: 5%;
  font-size: 12px;
  margin:3px;
}

.login-form button{
  padding-top: 5px;
  background: Dodgerblue;
  color: white;
  width: 255px;
}

#donthaveaccount {
  position: relative;
  height: 30px;
  width: 300px;
  padding: 20px;
  border: solid lightgray 1px;
  font-size: 14px;
  text-align: center;
  font-family: Helvetica;
  top: 410px;
  left: 490px;
}

#donthaveaccount h6 {
  position: relative;
  font-size: 14px;
  font-weight: normal;
  bottom: 300px;
}

.instacube-name{

}


#get-connected{
  position:relative;
  font-family: helvetica;
  font-weight: normal;
  font-size: 14px;
  // bottom: 100px;
  // left: 1000px;
  /* border: 1px red solid; */
  width: 200px;
  // margin-left: -200px;
  // margin-bottom: -123px;
  text-align: center;
  // padding-bottom: 30px;
}

#github-splash,
#linkedin-splash{
  color: steelblue;
  font-size: 40px;
  margin: 0px 25px;
}
