
body {
  background-color: #fafafa;
}

#splash{
  flex-direction: row;
  align-items: flex-end;
  /* background: orange; */
  height: 100%;
  width: 100%;
}

#footer {
  display: inline-block;
  width: 100%;
  height: 100%;
  /* justify-content: flex-end; */
  flex-direction: row;
  /* border: red 3px solid; */
  /* justify-content: center; */
  font-size: 12px;
  /* padding-left: 100px;
  padding-top: 25px; */
  font-weight: bold;
  padding-top: 322px;
  padding-left: 338px;
}


#footer-list {
  display: flex;
  list-style:none;
  justify-content: space-between;
  width: 1000px;
  /* background: green; */
  font-family: helvetica;
  float: left;
  margin-left: 107px;
  color: darkslategray;
}

.ig-copymark{
  /* background: violet; */
  width: 170px;
  /* float:right; */
  /* text-align: center; */
  top: 20px;
  padding-left: 63px;
  /* border: green solid 1px; */
  padding-right: 20px;
  color: gray;
  font-weight: normal;
}

#center-splash{
  display: flex;
  align-items: center;
  justify-content: center;
}

#phone-pic{
  position: relative;
  // border: 1px red solid;
  height: 600px;
  width: 400px;
  right: 263px; //dont change!
  top: 131px; //dont change!
  background-image: url("https://s3-us-west-1.amazonaws.com/instacube-dev/ig_screenshot.png");
}


#get-connected-splash {
  position:relative;
  font-family: helvetica;
  font-weight: normal;
  font-size: 14px;
  top: 400px;
  right: 178px;
  /* border: 1px red solid; */
  width: 200px;
  // margin-left: -200px;
  // margin-bottom: -123px;
  // padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}

#get-connected h4{
  text-align: center;
  margin: 10px 0px 10px 0px;
}

.my_links{
  display: flex;
  text-align: row;
}

#github-splash,
#linkedin-splash{
  color: steelblue;
  font-size: 40px;
  margin: 0px 25px;
}
