
.postheader{
  height: 60px;
}

.image-post{
  width: 640px;
  height: auto;
  display: flex;
  justify-content: center;
}

.post-icons{
  height: 60px;
}

.post-likes{
  height: 40px;
}

.comments{
  height: 250px;
}

.addcommentbox{
  width: 640px;
  height: 60px;
}
