/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body, html {
   height: 100%;
   margin:0;
   padding:0;
   border: 0;
   vertical-align: baseline;
 }

 #root{
   height: 100%;
 }


#splash{
  flex-direction: row;
  align-items: flex-end;
  /* background: orange; */
  height: 100%;
  width: 100%;
}

#footer {
  display: inline-block;
  width: 100%;
  height: 100%;
  /* justify-content: flex-end; */
  flex-direction: row;
  /* border: red 3px solid; */
  /* justify-content: center; */
  font-size: 12px;
  /* padding-left: 100px;
  padding-top: 25px; */
  font-weight: bold;
  padding-top: 127px;
  padding-left: 83px;
}


#footer-list {
  display: flex;
  list-style:none;
  justify-content: space-between;
  width: 1000px;
  /* background: green; */
  font-family: helvetica;
  float: left;
  margin-left: 107px;
  color: darkslategray;
}

.ig-copymark{
  /* background: violet; */
  width: 170px;
  /* float:right; */
  /* text-align: center; */
  top: 20px;
  padding-left: 63px;
  /* border: green solid 1px; */
  padding-right: 20px;
  color: gray;
  font-weight: normal;
}

 /* for image index below */

#images-index{

}

 .far fa-user {
   justify-content: flex-end
 }

 /* modal css */

 .modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -30%);
}

.modal-window{
  background: white;
  height: 260px;
  width: 400px;
  bottom: 600px;
  border-radius: 20px;
}

.modal-window li{
  padding: 12px;
  border-bottom: solid lightgray 1px;
  list-style: none;
  text-align: center;
  font-family: helvetica;
}

#last-in-modal{
  border: none;
}

/* for login form */

/* .login-container{
  display: block;
  border: red solid 1px;
  padding-left: 900px;
  width: 340px;
  height: 400px;
  /* padding-bottom: 250px; */
/* } */


.login-form{
  position: relative;
  right: 335px;
  top: 75px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  height: 345px;
  width: 350px;
  border: lightgray solid 1px;
  font-size: 25px;
  font-family: 'Lobster', cursive;
  float: right;

    /* background: papayawhip; */
}

.login-form input, button{
  width: 250px;
  height: 30px;
  border-radius: 5%;
  font-size: 12px;
  margin:3px;
}

.login-form button{
  padding-top: 5px;
  background: Dodgerblue;
  color: white;
  width: 255px;
}

#donthaveaccount {
  position: relative;
  height: 30px;
  width: 310px;
  padding: 20px;
  border: solid lightgray 1px;
  font-size: 14px;
  text-align: center;
  font-family: Helvetica;
  top: 430px;
  left: 723px;
}

.instacube-name{

}

#phone-pic{
  height: 522px;
  width: 840px;
  left: -100px;

}
