/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body, html {
   position: relative;
   height: 100%;
   margin:0;
   padding:0;
   border: 0;
   vertical-align: baseline;
 }

 #root{
   height: 100%;
 }

 Link, a {
   text-decoration: none;
   color: black;
 }

/* for splash page */

@import 'splash/splash.scss';

/* for login page */

@import 'login_form/login_form.scss';

 /* for image index below */

@import 'image_feed.scss';

@import 'nav_bar.scss';

@import 'post.scss';
/* for login form */
