

.errors-list {
  list-style: none;
  position: absolute;
  background: #E89F9F;
  left: 582px;
  bottom: 750px;
  height: 30px;
  width: 737px;
  font-weight: bold;
  font-family: helvetica;
  font-size: 14px;
  text-align: center;
  padding-top: 15px;
}
